{% load pages_tags %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      lang="ru">
{% include "inc/head-content.html" %}
<body>

<div class="wrapper">

 {% block header %}
  {% include "inc/header.html" %}
 {% endblock header %}
 
 {% block breadcrumbs %}
  {% include "inc/breadcrumbs-nav.html" %}
 {% endblock breadcrumbs %}
 
 {% block menu-main %}
  
  {% menu %}
  
 {% endblock menu-main %}
 
  <div id="content">
    {% block sidebar %}
      {% include "inc/core-contacts.html" %} 
    {% endblock sidebar %}
    
    {% block content %}
    {{ flatpage.content|safe }}	
    {% endblock content%}
  </div>
  
</div>


{% include "inc/full-menu.html" %}


{% include "inc/footer.html" %}

</body>
</html>