{% load news_tags %}
{% load pages_tags %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      lang="ru">
{% include "inc/head-content.html" %}
<body>

<div class="wrapper">

 {% block header %}
  {% include "inc/header.html" %}
 {% endblock header %}

 {% block breadcrumbs %}
  {% breadcrumbs %}
 {% endblock breadcrumbs %}
 
 {% block menu-main %}
  
  {% menu %}
  
 {% endblock menu-main %}
 
  <div id="content">
    {% block sidebar %}
        {% if flatpage.show_sidebar == true %}
            {% include "inc/core-contacts.html" %}
        {% endif %}
    {% endblock sidebar %}
    
    {% block content %}
        {% news_list 1 %}
        <h1>{{ flatpage.title }}</h1>
        {{ flatpage.content|safe }}
    {% endblock content%}
  </div>
  
</div>


{% include "inc/full-menu.html" %}


{% include "inc/footer.html" %}

</body>
</html>