{% load scientific_tags %}
{% load pages_tags %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      lang="ru">
{% include "inc/head-content.html" %}
<body>

<div class="wrapper">

 {% block header %}
  {% include "inc/header.html" %}
 {% endblock header %}

 {% block breadcrumbs %}
      {% breadcrumbs %}
 {% endblock breadcrumbs %}
 
 {% block menu-main %}
  
  {% menu %}
  
 {% endblock menu-main %}
 
  <div id="content">
    {% block content %}
        <h1>Научные конференции в {{ year }} году</h1>

        <section>

          <div class="tabs">
            <ul>
              {% if conferences.national.future or conferences.national.past %}
              <li class="tab-item current">
                <a href="#national">Общероссийские конференции</a>
              </li>
              {% endif %}
              {% if conferences.international.future or conferences.international.past %}
              <li class="tab-item">
                <a href="#international">Международные конференции</a>
              </li>
              {% endif %}
              {% if conferences.local.future or conferences.local.past %}
              <li class="tab-item">
                <a href="#local">Конференции в СПбГПУ</a>
              </li>
              {% endif %}
            </ul>
          </div>

          {% if conferences.national.future or conferences.national.past %}
            <article class="tab-content tab-content-visible" id="national">
              
              <h2>Общероссийские конференции</h2>

              {% if conferences.national.future %}
              <table class="table-data">
                <thead>
                  <tr>
                    <th class="w5">&nbsp;</th>
                    <th class="w35">Название конференции</th>
                    <th class="w25">Где и когда проводится</th>
                    <th>Организатор</th>
                  </tr>
                </thead>
                <tbody>
                  {% for conference in conferences.national.future %}
                    <tr>
                      <td><p>{{ forloop.counter }}</p></td>
                      <td><p>{{conference.title}}</p></td>
                      <td><p>{{conference.place}}</p>
                      <p>{% if conference.startDate %}
                        {% date_interval conference.startDate conference.endDate %}
                      {% else %}
                        {% get_month conference.alternateDateMonth %}
                      {% endif %}</p>
                      <td><p>{{ conference.organizers|safe }}</p></td>
                    </tr>
                  {% endfor %}
                </tbody>   
              </table>
              {% endif %}

              {% if conferences.national.past %}
              <h3>Прошедшие конференции</h3>
              <table class="table-data">
                <thead>
                  <tr>
                    <th class="w5">&nbsp;</th>
                    <th class="w35">Название конференции</th>
                    <th class="w25">Где и когда проводится</th>
                    <th>Организатор</th>
                  </tr>
                </thead>
                <tbody>
                  {% for conference in conferences.national.past %}
                    <tr>
                      <td><p>{{ forloop.counter }}</p></td>
                      <td><p>{{conference.title}}</p></td>
                      <td><p>{{conference.place}}</p>
                      <p>{% if conference.startDate %}
                        {% date_interval conference.startDate conference.endDate %}
                      {% else %}
                        {% get_month conference.alternateDateMonth %}
                      {% endif %}</p>
                      <td><p>{{ conference.organizers|safe }}</p></td>
                    </tr>
                  {% endfor %}
                </tbody>   
              </table>
              {% endif %}
            </article>
          {% endif %}

          {% if conferences.international.future or conferences.international.past %}
            <article class="tab-content" id="international">

              <h2>Международные конференции</h2>
              
              {% if conferences.international.future %}
              <table class="table-data">
                <thead>
                  <tr>
                    <th class="w5">&nbsp;</th>
                    <th class="w35">Название конференции</th>
                    <th class="w25">Где и когда проводится</th>
                    <th>Организатор</th>
                  </tr>
                </thead>
                <tbody>
                  {% for conference in conferences.international.future %}
                    <tr>
                      <td><p>{{ forloop.counter }}</p></td>
                      <td><p>{{conference.title}}</p></td>
                      <td><p>{{conference.place}}</p>
                      <p>{% if conference.startDate %}
                        {% date_interval conference.startDate conference.endDate %}
                      {% else %}
                        {% get_month conference.alternateDateMonth %}
                      {% endif %}</p>
                      <td><p>{{ conference.organizers|safe }}</p></td>
                    </tr>
                  {% endfor %}
                </tbody>   
              </table>
              {% endif %}

              {% if conferences.international.past %}
              <h3>Прошедшие конференции</h3>
              <table class="table-data">
                <thead>
                  <tr>
                    <th class="w5">&nbsp;</th>
                    <th class="w35">Название конференции</th>
                    <th class="w25">Где и когда проводится</th>
                    <th>Организатор</th>
                  </tr>
                </thead>
                <tbody>
                  {% for conference in conferences.international.past %}
                    <tr>
                      <td><p>{{ forloop.counter }}</p></td>
                      <td><p>{{conference.title}}</p></td>
                      <td><p>{{conference.place}}</p>
                      <p>{% if conference.startDate %}
                        {% date_interval conference.startDate conference.endDate %}
                      {% else %}
                        {% get_month conference.alternateDateMonth %}
                      {% endif %}</p>
                      <td><p>{{ conference.organizers|safe }}</p></td>
                    </tr>
                  {% endfor %}
                </tbody>   
              </table>
              {% endif %}
            </article>
          {% endif %}

          {% if conferences.local.future or conferences.local.past %}
            <article class="tab-content" id="local">

              <h2>Конференции в СПбГПУ</h2>
              
              {% if conferences.local.future %}
              <table class="table-data">
                <thead>
                  <tr>
                    <th>&nbsp;</th>
                    <th class="w20">Дата</th>
                    <th class="w35">Название</th>
                    <th>Контакты</th>
                  </tr>
                </thead>
                <tbody>
                  {% for conference in conferences.local.future %}
                    <tr>
                      <td><p>{{ forloop.counter }}</p></td>
                      <td><p>{% if conference.startDate %}
                        {% date_interval conference.startDate conference.endDate %}
                      {% endif %}</p></td>
                      <td><p>{{conference.title}}</p></td>
                      <td><p>{{ conference.organizers|safe }}</p></td>
                    </tr>
                  {% endfor %}
                </tbody>   
              </table>
              {% endif %}

              {% if conferences.local.past %}
              <h3>Прошедшие конференции</h3>
              <table class="table-data">
                <thead>
                  <tr>
                    <th>&nbsp;</th>
                    <th class="w20">Дата</th>
                    <th class="w35">Название</th>
                    <th>Контакты</th>
                  </tr>
                </thead>
                <tbody>
                  {% for conference in conferences.local.past %}
                    <tr>
                      <td><p>{{ forloop.counter }}</p></td>
                      <td><p>{% if conference.startDate %}
                        {% date_interval conference.startDate conference.endDate %}
                      {% endif %}</p></td>
                      <td><p>{{conference.title}}</p></td>
                      <td><p>{{ conference.organizers|safe }}</p></td>
                    </tr>
                  {% endfor %}
                </tbody>   
              </table>
              {% endif %}
            </article>
          {% endif %}

          <h3>Архив научных конференций</h3>

          {% get_pager_by_years %}

        </section>
            
    {% endblock content%}
  </div>
  
</div>

{% include "inc/full-menu.html" %}


{% include "inc/footer.html" %}

</body>
</html>
