{% load scientific_tags %}
{% load pages_tags %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      lang="ru">
{% include "inc/head-content.html" %}
<body>

<div class="wrapper">

 {% block header %}
  {% include "inc/header.html" %}
 {% endblock header %}

 {% block breadcrumbs %}
      {% breadcrumbs %}
 {% endblock breadcrumbs %}
 
 {% block menu-main %}
  
  {% menu %}
  
 {% endblock menu-main %}
 
  <div id="content">
    {% block content %}
        <h1>Научные конференции в {{ year }} году</h1>

        <section>
          <div class="tabs">
            <ul>
              {% if national_conferences %}
              <li class="tab-item current">
                <a href="#national">Общероссийские конференции</a>
              </li>
              {% endif %}
              {% if international_conferences %}
              <li class="tab-item">
                <a href="#international">Международные конференции</a>
              </li>
              {% endif %}
              {% if local_conferences %}
              <li class="tab-item">
                <a href="#local">Конференции в СПбГПУ</a>
              </li>
              {% endif %}
            </ul>
          </div>
          {% if national_conferences %}
            <article class="tab-content tab-content-visible" id="national">
              <h2>Общероссийские конференции</h2>
              <table class="table-data">
                <thead>
                  <tr>
                    <th class="w35">Название конференции</th>
                    <th class="w25">Где и когда проводится</th>
                    <th>Организатор</th>
                  </tr>
                </thead>
                <tbody>
                  {% for conference in national_conferences %}
                    <tr>
                      <td><p>{{conference.title}}</p></td>
                      <td><p>{{conference.place}}</p>
                      <p>{% if conference.startDate %}
                        {% date_interval conference.startDate conference.endDate %}
                      {% endif %}</p>
                      <td><p>{{ conference.organizers|safe }}</p></td>
                    </tr>
                  {% endfor %}
                </tbody>   
              </table>
            </article>
          {% if international_conferences %}
            <article class="tab-content" id="international">
              <h2>Международные конференции</h2>
              <table class="table-data">
                <thead>
                  <tr>
                    <th class="w35">Название конференции</th>
                    <th class="w25">Где и когда проводится</th>
                    <th>Организатор</th>
                  </tr>
                </thead>
                <tbody>
                  {% for conference in international_conferences %}
                    <tr>
                      <td><p>{{conference.title}}</p></td>
                      <td><p>{{conference.place}}</p>
                      <p>{% if conference.startDate %}
                        {% date_interval conference.startDate conference.endDate %}
                      {% endif %}</p>
                      <td><p>{{ conference.organizers|safe }}</p></td>
                    </tr>
                  {% endfor %}
                </tbody>   
              </table>
            </article>
          {% endif %}
          {% if local_conferences %}
            <article class="tab-content" id="local">
              <h2>Конференции в СПбГПУ</h2>
              <table class="table-data">
                <thead>
                  <tr>
                    <th class="w20">Дата</th>
                    <th class="w35">Название</th>
                    <th>Контакты</th>
                  </tr>
                </thead>
                <tbody>
                  {% for conference in local_conferences %}
                    <tr>
                      <td><p>{% if conference.startDate %}
                        {% date_interval conference.startDate conference.endDate %}
                      {% endif %}</p></td>
                      <td><p>{{conference.title}}</p></td>
                      <td><p>{{ conference.organizers|safe }}</p></td>
                    </tr>
                  {% endfor %}
                </tbody>   
              </table>
            </article>
          {% endif %}
          {% endif %}

          {% get_pager_by_years %}

        </section>
            
    {% endblock content%}
  </div>
  
</div>

{% include "inc/full-menu.html" %}


{% include "inc/footer.html" %}

</body>
</html>
