{% load static %}
{% get_media_prefix as MEDIA_URL %}

{% load pages_tags %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      lang="ru">
{% include "inc/head-content.html" %}
<body>

<div class="wrapper">

 {% block header %}
  {% include "inc/header.html" %}
 {% endblock header %}

 {% block breadcrumbs %}
      {% breadcrumbs %}
 {% endblock breadcrumbs %}
 
 {% block menu-main %}
  
  {% menu %}
  
 {% endblock menu-main %}
 
  <div id="content">
    {% block content %}
        <h1>Контактная информация</h1>

        <nav class="toc tabs">
          <ul>
            <li class="tab-item current"><a href="#map">Схема проезда</a></li>
            {% for key, department in departments.items %}
              <li class="tab-item"><a href="#department_{{ key }}">{{ department.title }}</a></li>
            {% endfor %}  
          </ul>
        </nav>
        <section class="tab-content tab-content-visible" id="map">
          <h3>Адрес деканата</h3>

          <p>Санкт-Петербург,<br>
          ул. Обручевых, д. 1<br>
          (вход с ул. Гидротехников)</p>

          <h3>Схема проезда</h3>

          <p>Здание Факультета управления и информационных технологий расположено недалеко от станции «Политехническая» Кировско-Выборгской («красной») линии Петербургского метрополитена. Вблизи факультета также проходит большое количество маршрутов общественного транспорта.</p>
        </section>

        {% for key, department in departments.items %}
          <section class="tab-content" id="department_{{ key }}">
            <h3>{{ department.title }}</h3>
            {% if department.info %}
              <div class="">
                {{ department.info }}
              </div>
            {% endif %}
            {% for person in department.persons %}
              {% include "contacts/person.html" %}
            {% endfor %}
            {% if department.subdepartments %}
            <div class="three-columns">
              {% for key, subdepartment in department.subdepartments.items %}
                <div class="column">
                  <h4>{{ subdepartment.title }}</h4>
                  {% for person in subdepartment.persons %}
                    {% include "contacts/person.html" %}
                  {% endfor %}
                </div>
              {% endfor %}
            {% endif %}
          </section>
        {% endfor %}
            
    {% endblock content%}
  </div>
  
</div>

{% include "inc/full-menu.html" %}


{% include "inc/footer.html" %}

</body>
</html>
