{% load news_tags %}
{% load staff_tags %}
{% load pages_tags %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      lang="ru">
	{% include "inc/head-content.html" %}
<body>

<div class="wrapper">
  {% include "inc/header.html" %}
  <section id="sub-header">
  {% block menu-main %}
  
   {% menu %}
  
  {% endblock menu-main %}
  
  {% coreContacts %}

    <div id="promo">
    	<div class="promo-content">
    	  <ul>
    	  	<li><img src="{{ STATIC_URL }}img/promo/01.jpg" alt="" />
    	  	  <div class="promo-text">
    	  	  	<h2>Высокие стандарты обучения</h2>
    	  	  	<p>Основные направления обучения студентов включают в себя теорию и технологию разработки программного обеспечения, построение и поддержку баз данных и организацию и обслуживание компьютерных сетей и систем. Важной особенностью учебного плана кафедры является углубленная математическая подготовка студентов, с акцентированием использования математических дисциплин в области информационных технологий.</p>
    	  	  </div>
    	  	</li>
    	  </ul>
    	</div>
    </div>
  </section>
  <div id="content">
    <aside id="additional">
      <h2>Наши достижения</h2>
      <h3><a href="#">Победа в конкурсе «IT-планета»</a></h3>

      <p><img src="{{STATIC_URL}}img/it-planet.jpg" alt="Кубок" /></p>
      <p>Из более 80 финалистов лишь 19-ти покорились сложнейшие оригинальные задания очного тура, прошедшего на базе СПбГУТ – соорганизатора Олимпиады в СЗФО</p>
    </aside>

    <article id="global-news" class="news">
      <div class="gap">
        <h1>Объявления деканата</h1>
          
          {% deans_news_list %}
    
          <p><a href="/news/">Архив новостей и объявлений</a></p>
        </div>
    </article>

    <article id="deans-news" class="news">
      <div class="gap">
        <h1>Новости и объявления</a></h1>

        {% news_list %}
        
        <p><a href="/deannews/">Архив объявлений деканата</a></p>
      </div>
    </article>
  </div>
</div>

    {% include "inc/full-menu.html" %}

<footer>
	{% include "inc/footer.html" %}
</footer>
</body>
</html>
