{% load news_tags %}
{% load staff_tags %}
{% load pages_tags %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      lang="ru">
	{% include "inc/head-content.html" %}
<body>

<div class="wrapper">
  {% include "inc/header.html" %}
  <section id="sub-header">
  {% block menu-main %}
  
   {% menu %}
  
  {% endblock menu-main %}
  
  {% coreContacts %}

  {% index_images %}
  
  </section>
  <div id="content">
    <aside id="additional">
      <h2>Наши достижения</h2>
      <h3><a href="#">Победа в конкурсе «IT-планета»</a></h3>

      <p><img src="{{STATIC_URL}}img/it-planet.jpg" alt="Кубок" /></p>
      <p>Из более 80 финалистов лишь 19-ти покорились сложнейшие оригинальные задания очного тура, прошедшего на базе СПбГУТ – соорганизатора Олимпиады в СЗФО</p>
    </aside>

    <article id="global-news" class="news">
      <div class="gap">
        <h1>Объявления деканата</h1>
          {% if perms.news.add_deansnews %}
            <p><a href="/admin/news/deansnews/add/?back={{ flatpage.url }}">Добавить объявление</a></p>
          {% endif %}
          
          {% deans_news_list %}
    
          <p><a href="/deannews/">Архив объявлений</a></p>
        </div>
    </article>

    <article id="deans-news" class="news">
      <div class="gap">
        <h1>Новости ФУИТ</a></h1>
        {% if perms.news.add_globalnews %}
          <p><a href="/admin/news/globalnews/add/?back={{ flatpage.url }}">Добавить новость</a></p>
        {% endif %}

        {% news_list %}
        
        <p><a href="/news/">Архив новостей</a></p>
      </div>
    </article>
  </div>
</div>

    {% include "inc/full-menu.html" %}

<footer>
	{% include "inc/footer.html" %}
</footer>
</body>
</html>
