<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      lang="ru">
{% include "inc/head-content.html" %}
<body>
<div class="wrapper">
  {% include "inc/header.html" %}
  
  {% include "inc/breadcrumbs-nav.html" %}
   
  {% include "inc/menu-main.html" %}
  
  <div id="content">
    {{ content }}
  </div>
  
</div>


{% include "inc/full-menu.html" %}


{% include "inc/footer.html" %}

</body>
</html>