{% load news_tags %}
{% load pages_tags %}
{% load schedule_tags %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      lang="ru">
{% include "inc/head-content.html" %}
<body>

<div class="wrapper">

 {% block header %}
  {% include "inc/header.html" %}
 {% endblock header %}

 {% block breadcrumbs %}
      {% breadcrumbs %}
 {% endblock breadcrumbs %}
 
 {% block menu-main %}
  
  {% menu %}
  
 {% endblock menu-main %}
 
  <div id="content">
    {% block content %}
        <h1>Расписание группы {{ group }}</h1>

        <p>
            {% if week == False %}
                Полное расписание
            {% else %}
                <a href="/for-students/schedule/{{ group_id }}/">Полное расписание</a>
            {% endif %}
            |
            {% if week != 'odd' %}
                <a href="/for-students/schedule/{{ group_id }}/odd/">Расписание нечетной недели</a>
            {% else %}
                Расписание нечетной недели
            {% endif %}
            |
            {% if week != 'even' %}
                <a href="/for-students/schedule/{{ group_id }}/even/">Расписание четной недели</a>
            {% else %}
                Расписание четной недели
            {% endif %}
        </p>
        {% for day in days %}
            <div class="schedule-day {% if forloop.counter0 == weekday %}
                schedule-today
            {% endif %} ">
            <h3>{{ day.day }}</h3>
            <table class="schedule">
            {% for class in day.classes %}
                <tr>
                    <td class="time">{{ class.time|time:"H" }}<sup>{{ class.time|time:"i" }}</sup></td>
                    <td class="week">{{ class.reccurance|weeks_repeat }}</td>
                    <td class="type">{{ class.eventType }}</td>
                    <td class="title">{{ class.subject }}</td>
                    <td class="teacher">{% if class.teacher.fullName != "-" %}{{ class.teacher }}{% else %}&nbsp;{% endif %}</td>
                    <td class="place">{% if class.classRoom.address != "-" %}{{ class.classRoom }}{% else %}&nbsp;{% endif %}</td>
                </tr>
            {% empty %}
                <tr>
                    <th class="time"></th>
                    <td class="week">1, 2</td>
                    <td class="type"></td>
                    <td class="title">Занятий нет</td>
                    <td class="teacher"></td>
                    <td class="place"></td>
                </tr>

            {% endfor %}
            </table>
            </div>
        {% endfor %}

        <h2>Расписание факультета</h2>
        {% groups_list group %}
    {% endblock content%}
  </div>
  
</div>

{% include "inc/full-menu.html" %}


{% include "inc/footer.html" %}

</body>
</html>
