.grid {
  position:absolute;
  top:0px;
  height:100%;
  width:100%;
  background:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, transparent), color-stop(.93, transparent), to(blue));
  -webkit-background-size:18px;
}

.note {
  padding:0 0 0 35px;
  margin-left:-18px;
  background-image:url(/i/icons/note.png);
  background-repeat:no-repeat;
  }
