<div id="core-contacts">
      <ul>
      	<li class="contact-item">
      		<h3><a href="/about/contacts/" class="ajax show-contact-details">Деканат:</a></h3>
      		<h2><a href="tel:8-812-550-4053">+7 (812) 550-40-53</a></h2>
      		<p><a href="mailto:deansoffice@fuit.spbstu.ru">deansoffice@fuit.spbstu.ru</a></p>
      		<div class="contact-details">
      			<div class="closer">×</div>

      		  <h3>Деканат Факультета управления и информационных технологий СПбГТУ</h3>
      		  <dl>
      		    <dt>Адрес</dt>
      		    <dd>Санкт-Петербург, ул. Обручевых, д.1. Ауд. 308</dd>
      		    <dd>Тел: <a href="tel:8-812-550-4053">550-40-53</a></dd>
      		    <dt>Декан</dt>

      		    <dd>Швецов Константин Владимирович</dd>
      		    <dd>Тел. <a href="tel:8-812-552-7690">552-76-90</a></dd>
              <dd><a href="mailto:ShvecovK@avalon.ru">ShvecovK@avalon.ru</a></dd>
              <dd>XI уч. корпус, комн.308</dd>
              <dt>Зам. декана по учебной работе</dt>
              <dd>Скиданов Владимир Алексеевич</dd>  
              <dd>Тел. 550-40-61</dd>

              <dd><a href="mailto:SkidanovV@avalon.ru">SkidanovV@avalon.ru</a></dd>
              <dd>XI уч. корпус, комн.310</dd>
              
              <dt>Зам. декана по научной работе</dt>
              
              <dd>Сергеева Александра Дмитриевна</dd>
              <dd>Тел. 703-02-02(доб.310)</dd>
              <dd><a href="mailto:SergeevaA@avalon.ru">SergeevaA@avalon.ru</a></dd>

              <dd>XI уч. корпус, комн.310</dd>
      		  </dl>
      		</div>
      	</li>
      	<li class="contact-item">
      		<h3><a href="/about/contacts/" class="ajax show-contact-details">Кафедра <abbr title="Компьютерные и информационные технологии в проектировании">КИТ</abbr></a></h3>
      		<h2>+7 (812) 550-40-73</h2>

      		<p><a href="mailto:kit@fuit.spbstu.ru">kit@fuit.spbstu.ru</a></p>
      		<div class="contact-details">
            <div class="closer">×</div>
      			<h3>Кафедра «Компьютерные и информационные технологии в проектировании»</h3>
            <dl>
              <dt>Заведующий кафедрой</dt>
              <dd>Речинский Александр Витальевич</dd>

              <dd>Тел: <a href="tel:+7-812-703-0202">703-02-02р</a></dd>
              <dd><a href="mailto:RechinskyА@avalon.ru">RechinskyА@avalon.ru</a></dd>
              <dd>XI уч. корпус, комн.304</dd>
              
              <dt>Зам. зав. кафедрой</dt>
              <dd>Щукин Александр Валентинович</dd>
              <dd>Тел. <a href="tel:+7-812-703-0202">703-02-02</a></dd>

              <dd><a href="mailto:RechinskyА@avalon.ru">SchukinА@avalon.ru</a></dd>
              <dd>XI уч. корпус, комн.303</dd>
              
              <dt>Секретари кафедры</dt>
              <dd>Тел. <a href="tel:+7-812-550-4073">550-40-73</a></dd>
              <dd>XIуч. корпус, комн.318</dd>
            </dl>

      		</div>
      	</li>
      	<li class="contact-item">
      		<h3><a href="/about/contacts/" class="ajax show-contact-details">Кафедра <abbr title="Управление в социально-экономических системах">УСЭС</abbr></a></h3>
          <h2>+7 (812) 550-40-73</h2>
          <p><a href="mailto:uses@fuit.spbstu.ru">uses@fuit.spbstu.ru</a></p>
      		<div class="contact-details">

            <div class="closer">×</div>
            <h3>Кафедра «Управление в социально-экономических системах»</h3>
            <dl>
              <dt>Заведующий кафедрой</dt>
              <dd>Федотов Александр Васильевич</dd>
              <dd>Тел. <a href="tel:+7-812-552-60-95">552-60-95</a></dd>

              <dd><a href="mailto:fedotov@fem.ru">fedotov@fem.ru</a></dd>
              <dd>III уч. корпус, комн.510</dd>
              
              <dt>Зам. зав. кафедрой</dt>
              <dd>Соколицын Александр Сергеевич</dd> 
              <dd>Тел. <a href="tel:+7-812-534-73-12">534-73-12</a></dd>
              <dd>III уч. корпус, комн.510</dd>

            </dl>
          </div>
      	</li>
      	<li class="contact-item">
      		<h3><a href="/about/contacts/" class="ajax show-contact-details">Кафедра <abbr title="Национальная безопасность">НБ</abbr></a></h3>
          <h2>+7 (812) 550-40-73</h2>
          <p><a href="mailto:nb@fuit.spbstu.ru">nb@fuit.spbstu.ru</a></p>

      		<div class="contact-details">
            <div class="closer">×</div>
            <h3>Кафедра «Национальная безопасность»</h3>
            <dl>
              <dt>Зав. кафедрой</dt>
              <dd>Матвеев Владимир Владимирович</dd>
              <dd>Тел. <a href="tel:+7-812-294-22-82">294-22-82</a></dd>

              <dd><a href="mailto:deanfb@rambler.ru">deanfb@rambler.ru</a></dd>
              <dd>Гидрокорпус, комн.401</dd>
              
              <dt>Зам.зав.кафедрой по НИР</dt>
              <dd>Бурлов Вячеслав Георгиевич</dd>
              <dd>Тел. <a href="tel:+7-812-294-22-82">294-22-82</a></dd>
              <dd>Гидрокорпус, комн.404</dd>

              
              <dt>Зам.зав.кафедрой по учебной работе</dt>
              <dd>Комаров Михаил Петрович</dd>
              <dd>Тел. <a href="tel:+7-812-294-22-82">294-22-82</a></dd>
              <dd>Гидрокорпус, комн.404</dd>
            </dl>
          </div>

      	</li>
      </ul>
      <nav class="social">
        <ul>
        	<li><a href="#" class="icon vk" title="ФУИТ ВКонтакте"><img src="{{ STATIC_URL }}i/null.gif" alt="ФУИТ ВКонтакте" /></a></li>
        	<li><a href="#" class="icon fb" title="ФУИТ в Фейсбуке"><img src="{{ STATIC_URL }}i/null.gif" alt="ФУИТ в Фейсбуке" /></a></li>
        	<li><a href="#" class="icon tw" title="ФУИТ в Твиттере"><img src="{{ STATIC_URL }}i/null.gif" alt="ФУИТ в Твиттере" /></a></li>
        </ul>
      </nav>    
      </div>
