<footer>
	<div class="wrapper">
		<section id="spbstu">
		  <img src="{{ STATIC_URL }}i/logos/spbspu-logo.png" alt="СПбГПУ" />

		  <p><a href="http://www.spbspu.ru/">Санкт-петербургский государственный политехнический университет</a></p>
		</section>
		<section id="copyright">
		  <h4>Факультет управления и информационных технологий</h4>
		  <p>Деканат: Санкт-Петербург, ул. Обручевых, д. 1, к. 308. Тел.: +7 (812) 550-40-53</p>
		  <ul>
        <li><a href="/about/contacts/">Официальные лица</a></li>

        <li><a href="#">Календарь событий</a></li>
		  </ul>
		</section>
	</div>

</footer>


<script type="text/javascript">
	var yaform = document.createElement("script"),
		jq = document.createElement("script"),
		main_js = document.createElement("script"),
	    s = document.body;

	yaform.async = true;
	yaform.src = "http://site.yandex.net/load/form/1/form.js";

	jq.async = true;
	jq.src = "http://yandex.st/jquery/1.7.2/jquery.min.js";

	main_js.async = true;
	main_js.src = '{{ STATIC_URL }}js/fuit.js';
	
	s.appendChild(yaform);
	s.appendChild(jq);	
	s.appendChild(main_js);

</script>
