<nav id="full-menu">
 <div class="shadow">
    <div class="wrapper">
    	<ul>

    		<li class="column">
    			<h3>О факультете</h3>
    			<ul>
    			  <li><a href="/about/structure/">Структура факультета</a></li>
    			  <li><a href="/about/history/">История факультета</a></li>
    			  <li><a href="/about/contacts/">Контактная информация</a></li>
    			  <li><a href="/about/deansoffice/">Деканат</a></li>

    			  <li><a href="/about/department/">Выпускающие кафедры</a></li>
    			</ul>
    		</li>
    		<li class="column">
    			<h3>Абитуриентам</h3>
    			<ul>
    			  <li><a href="/for-abiturient/speciality/">Направления обучения</a></li>

    			  <li><a href="/for-abiturient/rules/">Правила поступления</a></li>
    			  <li><a href="/for-abiturient/documents/">Документы для поступления</a></li>
    			  <li><a href="/for-abiturient/preliminary-courses/">Подготовительные курсы</a></li>
    			  <li><a href="/for-abiturient/exams/">Экзамены и олимпиады</a></li>
    			  <li><a href="/for-abiturient/open-doors/">Дни открытых дверей</a></li>
    			  <li><a href="/for-abiturient/another-town/">Для иногородних</a></li>

    			  <li><a href="/for-abiturient/contract-education/">Контрактное обучение</a></li>
    			  <li><a href="/for-abiturient/links/">Полезные ссылки</a></li>
    			  <li><a href="/for-abiturient/faq/">Вопросы и ответы</a></li>
    			</ul>
    		</li>
    		<li class="column">
    			<h3>Студентам</h3>

    			<ul>
    			  <li><a href="/for-student/schedule/">Расписание</a></li>
    			  <li><a href="/for-student/diplomas-theme/">Темы выпускных работ</a></li>
    			  <li><a href="/for-student/methodical/">Методические указания</a></li>
    			  <li><a href="/for-student/education-plan/">Учебные планы</a></li>
    			  <li><a href="/for-student/stipendia/">Стипендии</a></li>

    			  <li><a href="/for-student/magistracy/">Магистратура</a></li>
    			</ul>
    			<ul class="second">
    			  <li><a href="/for-student/hostel/">Общежитие</a></li>
    			  <li><a href="/for-student/army-department/">Военная кафедра</a></li>
            <li><a href="/for-student/library/">Библиотека</a></li>
    			</ul>

    		</li>
    		<li class="column">
    			<h3>Научная работа</h3>
    			<ul>
    			  <li><a href="/scientific-work/calendar/">План мероприятий</a></li>
    			  <li><a href="/scientific-work/archive/">Архив</a></li>
    			  <li><a href="/scientific-work/sciens-school/">Научные школы кафедр</a></li>

    			  <li><a href="/scientific-work/partners/">Международное сотрудничество</a></li>
    			  <li><a href="/scientific-work/graduate-course/">Аспирантура</a></li>
    			</ul>
    		</li>
    		<li class="column">
    			<h3>Культура и спорт</h3>
    			<ul>

    				<li><a href="/culture-and-sport/stdsovet/">Студсовет</a></li>
    				<li><a href="/culture-and-sport/profburo/">Профбюро</a></li>
    				<li><a href="/culture-and-sport/kvn/">Команда КВН</a></li>
    				<li><a href="/culture-and-sport/sport/">Спортивные достижения</a></li>
    			</ul>
          <ul class="second">
            <li><a href="/culture-and-sport/calendar/">Календарь событий</a></li>

          </ul>
    		</li>
    	</ul>  	</div>
	</div>
</nav>