{% load pages_tags %}

<head>
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta charset="UTF-8"/>
<link href="{{ STATIC_URL }}css/fuit.css" rel="stylesheet" />
<link rel="shortcut icon" href="{{ STATIC_URL }}i/favicon.ico" type="image/x-icon" /> 
<title>{% title %}</title>

<!--[if lt IE 9]>
	<script src="{{ STATIC_URL }}js/fuit.ie.js"></script>
	<link href="{{ STATIC_URL }}css/fuit.ie.css" rel="stylesheet">
<![endif]-->

<script src="http://yandex.st/jquery/1.7.2/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/carousel.js"></script>
<script src="{{ STATIC_URL }}js/fuit.js"></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32283042-1']);
  _gaq.push(['_setDomainName', 'fuit.spbstu.ru']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>