{% load process_tags %}
<header>
    <div id="date">
                   {% process_week %}
    </div>
    <div id="logo">
          <div id="logo-abbr"><a href="/"><img src="{{ STATIC_URL }}i/logos/fuit-logo.png" alt="ФУИТ" /></a></div>
          <div id="logo-description">
            <h6>Санкт-Петербургский государственный политехнический университет</h6>
            <h5>Факультет управления и&nbsp;информационных технологий</h5>
          </div>
    </div>
    <div id="search">
        <div class="yandexform" onclick="return {type: 2, logo: 'rb',
            arrow: false, webopt: false, websearch: false, bg: '#FFFFFF', fg:
            '#363636', fontsize: 12, suggest: false, site_suggest: true,
            encoding: '', language: 'ru'}">
            <form action="/search/"
                method="get">
                <input type="hidden" name="searchid"
                    value="1312258"/>
                <input name="text"/><input type="submit"
                    value="Найти"/>
                </form>
        </div>
        <script type="text/javascript"
            src="http://site.yandex.net/load/form/1/form.js"
            charset="utf-8"></script>
    </div>
</header>
