{% load pages_tags %}

<head>
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta charset="UTF-8"/>
<link href="{{ STATIC_URL }}css/fuit.css" rel="stylesheet" />
<link rel="shortcut icon" href="{{ STATIC_URL }}i/favicon.ico" type="image/x-icon" /> 
<title>{% title %}</title>

<!--[if lt IE 9]>
	<script src="{{ STATIC_URL }}js/fuit.ie.js"></script>
	<link href="{{ STATIC_URL }}css/fuit.ie.css" rel="stylesheet">
<![endif]-->

<script src="http://yandex.st/jquery/1.7.2/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/carousel.js"></script>
<script src="{{ STATIC_URL }}js/fuit.js"></script>
</head>