<head>
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta charset="UTF-8"/>
<link href="{{ STATIC_URL }}css/fuit.css" rel="stylesheet" />
<link rel="shortcut icon" href="{{ STATIC_URL }}i/favicon.ico" type="image/x-icon" /> 
<title>${title} - Факультет управления и информационных технологий СПбГПУ</title>

<script src="http://yandex.st/jquery/1.5.2/jquery.min.js"></script>

<!-- script src="http://api-maps.yandex.ru/1.1/index.xml?key=AAcapE0BAAAABJRxSgMAv7TPc7f_S9fpuMSpSfS30DhNRzIAAAAAAAAAAAAH1gByuXXB9auEqX45sqc-9-Au8w=="  type="text/javascript"></script>-->

<script src="{{ STATIC_URL }}js/fuit.js"></script>

<!--[if lt IE 9]>
	<script src="{{ STATIC_URL }}js/fuit.ie.js"></script>
	<link href="{{ STATIC_URL }}css/fuit.ie.css" rel="stylesheet">
<![endif]-->
</head>