#core-contacts {
  position:relative;
  top: 4px;
  }
#core-contacts ul {
  font-size:1em;
  margin-left:0;
  }
#core-contacts li {
  position:relative;
  margin-bottom:18px;
  }
  #core-contacts ul li:before {
    content:"";
    }
#core-contacts h2 {
  font-size:1.8em;
  margin:0;
  }
#core-contacts h3 {
  font-size:1.1em;
  font-weight:bold;
  margin-bottom:0;
  }
/*
 * Подробные контакты
 */  
  
#core-contacts .contact-details {
  display:none;
  position:absolute;
  z-index:10;
  top:20px;
  left:-100px;
  padding:9px;
  background:#FFF;
  border:solid 5px #EDEDED;
  border-radius:10px;
  }
  #core-contacts .contact-details:before {
    content: ",";
    position:absolute;
    left:100px;
    top:-30px;
    height:0;
    width:0;
    overflow:hidden;
    border-color: transparent transparent #EDEDED transparent;
    border-style: solid;
    border-width: 15px;
    }
  #core-contacts .contact-details:after {
    content: ",";
    position:absolute;
    left:100px;
    top:-23px;
    height:0;
    width:0;
    overflow:hidden;
    border-color: transparent transparent #FFF transparent;
    border-style: solid;
    border-width: 15px;
    }
  #core-contacts .contact-details-show {
    display:block;
    }
  #core-contacts .contact-details h3 {
    font-size:1.3em;
    margin-right:2em;
    }
  #core-contacts .contact-details dl {
    font-size:1.2em;
    }
    #core-contacts .contact-details dt {
      font-weight:bold;
      margin-top:1em;
      }
    #core-contacts .contact-details dd {
      color:#000;
      } 
  
/*
 * Иконки соцсетей
 */
#core-contacts .social {
  
  }
  #core-contacts .social li {
    display:inline;
    margin-right:5px;
    }
  #core-contacts .social .icon {
    display:inline-block;
    height:16px;
    width:16px;
    background-repeat:no-repeat;
    }
    #core-contacts .social .vk {
      background-image:url(../i/icons/vk.png);
      }
    #core-contacts .social .fb {
      background-image:url(../i/icons/facebook.png);
      }
    #core-contacts .social .tw {
      background-image:url(../i/icons/twitter.png);
      }
      
/*
 * Часы работы 
 */
 
#core-contacts .working-time {
	font-size:1.3em;
	margin:0 0 1em 2em;
	}
	#core-contacts .working-time li {
		margin:0;
		}