.wrapper {
  min-width:960px;
  max-width:1280px;
  margin:auto;
  }
/*-----------------------------------------------------
 * Header
 */

header {
  position:relative;
  height:86px;
  }
#date {
  position:absolute;
  left:18px;
  top:0;
  }
  #date .date-stamp {
    margin-bottom:0;
    }
#logo {
  margin-left:21%;
  }
  #logo-abbr {
    float:left;
    margin-top:-4px;
    }
  #logo-description {
    margin-left:180px;
    }
    #logo-description h5 {
      font-size:1.8em;
      font-weight:normal;
      width:20em;
      }
    #logo-description h6 {
      font-size:1.1em;
      }
#search {
  position:absolute;
  right:2%;
  top:0;
  width:16%;
  }
  #search p {
    margin-bottom:0.8em;
    text-transform:lowercase;
    }
#site-search {
  width:10em;
  }

/*----------------------------------------------------
 * Sub-Header
 */
#sub-header {
  margin-bottom:18px;
  }
  #sub-header:after {
    content: ".";
    overflow:hidden;
    clear:both;
    display:block;
    height:0;
    width:0;
    }
#menu-main {
  line-height:1;
  float:left;
  width:17%;
/*  width:220px;*/
  margin:4px 18px;
  }
#core-contacts {
  float:right;
  width:21%;
  margin:0 0 0 2%;
  }
#promo {
  margin: 0 21% 1em;
  }

/*----------------------------------------------------
 * Breadcrumbs
 */  

.breadcrumbs {
  font-size:1.1em;
  margin-left:21%;
  }
  .breadcrums-top {
    margin-bottom:0;
    }

/*----------------------------------------------------
 * Content
 */
#content {
  position:relative;
  margin-left:22%;
  padding-top:4px;
  padding-bottom:2em;
  }
  #content:after {
    content: ".";
    display:block;
    clear:both;
    height:0;
    overflow:hidden;
    }
  #global-news {
  	float:left;
    display:inline;
    width:50%;
    }
    #global-news .gap {
        /*margin-left:36px;*/
        }
  #deans-news {
    margin-left: 51%;
    }
    #deans-news .gap {
    	margin-left: 36px;
    	}
  #additional {
    position:absolute;
    left:-28%;
    width:20%;
    padding:9px;
    background:#FFF;
    border-radius:10px;
    box-shadow:0 0 10px #CCC;
    }
    #additional h2 {
      margin-top:0;
      margin-bottom:0;
      }
    #index #additional {
        top:0;
        }
/*----------------------------------------------------
 * Footer-Nav
 */
#full-menu {
  background-image:url(../i/bg/shadow-t.png);
  background-position:0% 0%;
  background-repeat:repeat-x;
  padding:10px 0 0;
  }
  #full-menu .shadow {
    overflow:hidden;
    background-color:#FFF;
    background-image:url(../i/bg/shadow-b.png);
    background-position:0% 100%;
    background-repeat:repeat-x;
    padding:18px 0 28px;
    }
  #full-menu .column {
    float:left;
    width:16%;
    margin:0 0 0 4%;
    }
/*----------------------------------------------------
 * Footer
 */
footer {
  padding-top:18px;
  }
  footer #spbstu {
    float:left;
    width:25em;
    }
    footer #spbstu img {
      float:left;
      margin-right:18px;
      margin-top:-9px;
      }
  footer #copyright {
    float:right;
    width:50em;
    }
    footer #copyright li {
      font-size:1.2em;
      display:inline;
      margin-right:18px;
      }
/*----------------------------------------------------
 * Three columns
 */
.three-column {
  overflow:hidden;
  width:100%;
  }
  .three-column .column {
    float:left;
    width:33%;
    }
  .three-column .column-content {
    margin-right:18px;
    }
/*-----------------------------------------------------
 * 
 */
 
/*
 * Two column
 */
.two-column {
  overflow:hidden;
  }
  .two-column .column {
    float:left;
    width:49%;
    }
  .two-column .column-content {
    margin-right:36px;
    }
/*
 * Base content
 */
.base-content-box {
  margin-right:23%;
  }
