a:link {
  color:#1C58AD;
  }
a:visited {
  color:#3E6DAD;
  }
a:hover,
a.current {
  color:#193761;
  }
a.ajax:link {
  text-decoration:none;
  color:inherit;
  border-bottom:dotted 1px;
  }
a[href^="tel"] {
  color:inherit;
  text-decoration:none;
  cursor:default;
  }
/*----------------------------------------------------
 * Main menu
 */
#menu-main ul {
  font-size:1.8em;
  line-height:2;
  margin-top:-0.6em;
  }
  #menu-main .submenu {
    font-size:0.8em;
    margin-left:2em;
    margin-bottom:1em;
    }
  #menu-main .current:before {
    content: "→";
    position:absolute;
    margin-left:-1.2em;
    text-decoration:none;
    }
/*----------------------------------------------------
 * Меню в подвале
 */

#full-menu .column ul {
  font-size:1.2em;
  margin-right:18px;
  }
  #full-menu .second {
    margin-top:1em;
    padding-top:1em;
    border-top:solid 1px #999;
    }
#full-menu h3 {
  margin-bottom:0.5em;
  }
  #full-menu .current a {
    color: #363636;
    text-decoration: none;
  }
  #full-menu .current a:hover {
      text-decoration:underline;
  }

/*----------------------------------------------------
 * Табы
 */
.tabs {
  overflow:hidden;
  margin-bottom:1em;
  }
  .tabs ul {
    position:relative;
    padding: 0 2ex;
    margin-left:0 !important;
    border-bottom: solid 1px #CCC;
    }
    .tabs ul:after {
      content: ".";
      overflow:hidden;
      clear:both;
      display:block;
      height:0;
      }
  .tabs li {
    float:left;
    padding: 0 1ex;
      }
    .tabs li:before {
      content: "" !important;
      }
  .tabs .current {
    position:relative;
    top: 1px;
    padding-bottom:1px;
    background:#FEFAEE;
    border:solid #CCC;
    border-width:1px 1px 0;
    }
    .tabs .current a {
      text-decoration:none;
      color: inherit;
      }
  .tabs .last {
    position:absolute;
    right:0;
    } 
