.news {
  
  }
.news .date {
  font-size:1.1em;
  margin-top:-1.5em;
  margin-bottom:0.5em;
  color: #666;
  }
.news section {
  margin-bottom:4em;
  }

.attention {
  position:relative;
  padding:18px;
  margin:0 18px 2em 0;
  background:#FFF;
  }
  .attention p {
    margin-bottom:0;
    }
  .attention-content {
    margin-bottom:1em;
    padding-left:18px;
    border-left:solid 9px #ffb400;
    }
