.schedule {
	margin-bottom: 2em;
  }
  .schedule th {
    font-size:1.3em;
    font-weight:bold;
  }
  .schedule td {
    font-size:1.4em;
    padding:3px 10px;
    }
  .schedule a {
    text-decoration:none;
    }
.schedule-horz {
  width:auto;
  margin-bottom:2em;
  }
  .schedule-horz thead th {
    font-weight:normal;
    padding:0 5px;
    white-space:normal;
    text-align:left;
    }
  .schedule-horz tbody th {
    font-size:1.2em;
    width:7ex;
    white-space:pre;
    border-bottom:solid 1px #CCC;
    }
  .schedule-horz td {
    font-size:1.2em;
    width:8ex;
    padding:3px 5px;
    border-bottom:solid 1px #CCC;
    }

/*
Секция расписания - один день
*/

.schedule-day {
  margin-bottom:6em;
  }
  .schedule-day h3 {
    font-size:1.2em;
    font-weight:bold;
    position:relative;
      top: -2em;
      left:-3.5em;
      line-height:2.4;
      float:left;
    width:2.4em;
      height:2.4em;
      margin-top:2em;
      margin-bottom:0.5em;
    text-align:center;
      background:#DEDEEE;
      border-radius:1.2em;
    }
  .schedule-day .schedule {
      margin-left:-3em;
      }
  .schedule .week {
    font-size:1em;
    width:4ex;
    }
  .schedule .time {
    font-weight:normal;
    width:5ex;
    padding:0 3px;
    }
    .schedule .time sup {
      position:relative;
      top:-0.5em;
      font-size:0.8em;
      }
  .schedule .title {
    font-size:1.6em;
    width:25ex;
    color:#000;
    }
  .schedule .type {
      width:12ex;
    }
  .schedule .teacher {
    width:23ex;
    } 
  .schedule .place {
    width:20ex;
  }
  .schedule tr:nth-child(2n) {
    background:#EFEFEF;
    }
  .schedule-day .lesson {
    color:#525EFE; 
    }
  .schedule-day .practice {
    color:#5BB230; 
    }
  .schedule-day .labor {
    color:#FF986B; 
    }
    
.schedule .past td,
.schedule .past th {
	color: #999;
	}
	.schedule .past .comment {
		display: none;
		}

/* Список групп
---------------------------------------- */

.groups-list {
    margin-bottom:1em;
    }
.groups-list .department {
    display:inline-block;
    margin-right:18px;
    vertical-align:top;
    }
.groups-list .department .group-number {
    display:inline-block;
    width:50px;
    }
.groups-list .department h3 {
    font-size:11px;
    width:200px;
    height:42px;
    margin-right:20px;
    }