<!-- TODO: заменить всю эту перду на свой фильтр -->
<div class="groups-list">
{% for department, years in groups %}
    <div class="department">
    <h3>{{ department }}</h3>
    {% for year in years %}
        <p>
        {% for group in year %}
            {% if level == 1 %}
                <a href="{{ prefix }}{{ group.urlize }}/" class="group-number 
                    {{ group.css_class }}">{{ group.number }}</a>
            {% else %}
                <a href="{{ prefix }}{{ group.urlize }}/" class="group-number">
                    {{ group.number }}</a>
            {% endif %}
        {% endfor %}
        </p>
    {% endfor %}
    </div>
{% endfor %}
</div>
