body {
  font: normal 62.5%/18px Tahoma, Helvetica, Arial, sans-serif;
  position:relative;
  min-height:100%;
  padding-top:4px;
  background:#FEFAEE url(../i/bg/body.png) 0 0 repeat-x;
  color: #363636;
  }
h1 {
  font-size:3.6em;
  line-height:1;
  margin-bottom:0.5em;
  }
h2 {
  font-size:2.0em;
  line-height:1;
  margin-top:2em;
  margin-bottom:1em;
  color:#000;
  }
  h1 + h2 {
    margin-top:0;
    }
  h2:first-child {
    margin-top:0;
  }
h3 {
  font-size:1.6em;
  margin-bottom:1.2em;
  color:#000;
  }
h4 {
  font-size:1.4em;
  }
h5 {
  font-size:1.2em;
  font-weight:bold;
  }
h6 {
  font-size:1.1em;
  }
p {
  font-size: 1.3em;
  max-width:60em;
  margin-bottom:1.4em;
  }
strong {
  font-weight:bold;
  color:#000;
  }
em {
  font-style:italic;
  color:#000;
}
#content ul, 
#content ol {
  font-size:1.3em;
  margin-bottom:1.3em;
  margin-left:2em;
  max-width:60em;
  }
  #content ul li:before {
    position:absolute;
    content: "—";
    margin-left:-1.5em;
    }
  #content ol {
    list-style-type:decimal;
    }
  #content ul ul,
  #content ul ol,
  #content ol ol,
  #content ol ul {
    font-size:1em;
    margin-left:1.5em;
    margin-bottom:0;
    }
#content dl {
	}
	#content dt {
		font-size: 1.3em;
		margin: 2em 0 1em;
		color: #000;
		}
	#content dd {
		font-size: 1.3em;
		}
		#content dd p,
		#content dd ul,
		#content dd ol {
			font-size: 1em;
			}
		
sup {
  font-size:0.7em;
  position:relative;
  top:-0.6em;
  }
sub {
  
  }
blockquote {
  
  }
article {
  }
