.table-data {
  }
  .table-data td,
  .table-data th {
    font-size:1.3em;
    padding:0.5em 1em;
    border-bottom:solid 1px #999;
    }
  .table-data th {
    font-weight:bold;
    color:#000;
    }
    .table-data tbody th {
      text-align:left;
      }
  #content .table-data ul,
  #content .table-data ol,
  .table-data p {
    font-size:1em;
    margin-bottom:0;
    }
/*
Служебные классы установки ширины
*/
.table-data .w10 {width:10%;}
.table-data .w15 {width:15%;}
.table-data .w20 {width:20%;}
.table-data .w25 {width:25%;}
.table-data .w30 {width:30%;}
.table-data .w35 {width:35%;}
.table-data .w40 {width:40%;}
.table-data .w45 {width:45%;}
.table-data .w50 {width:50%;}
.table-data .w55 {width:55%;}
.table-data .w60 {width:60%;}
.table-data .w65 {width:65%;}
