<div id="core-contacts">
  <ul>
  {% for item in departments %}
    <li class="contact-item">
      <h3><a href="/about/contacts/" class="ajax show-contact-details">{{ item.title }}:</a></h3>
      <h2>{{ item.department.phone }}</h2>
      <p><a href="mailto:{{ item.department.email }}">{{ item.department.email }}</a></p>
      <div class="contact-details">
        <div class="closer">×</div>
        <h3>{{ item.longtitle }}</h3>
        {% for person in item.persons %}
          <dl>
            <dt>{{ person.position.title }}</dt>
            <dd>{{ person.person.last_name }} {{ person.person.first_name }}  {{ person.person.patronimic }}</dd>
            {% if person.person.phone %}
            <dd>Тел: {{ person.person.phone }}</dd>
            {% endif %}
            {% if person.person.phone %}
            <dd><a href="mailto:{{ person.person.email }}">{{ person.person.email }}</a></dd>
            {% endif %}
            {% if person.person.phone %}
            <dd>{{ person.person.office }}</dd>
            {% endif %}
          </dl>
        {% endfor %}
      </div>
    </li>
  {% endfor %}
  </ul>
</div>
