<article class="person">
    <h2>{{person.person.first_name}} {{person.person.patronimic}} {{person.person.last_name}}</h2>
    
    <h3>{{person.position.title}}</h3>
    
    {% if person.person.photo %}
      <p class="photo"><img src="{{ MEDIA_URL }}{{ person.person.photo }}" alt="{{person.person.first_name}} {{person.person.patronimic}} {{person.person.last_name}}" ></p>
    {% endif %}
    
    {% if person.person.graduate %}
      <p>{{ person.person.graduate }}</p>
    {% endif %}
    
    {% if person.person.office or person.person.phone or person.person.email %}
      <h4>Контактаная информация</h4>
      <ul>
        {% if person.person.phone %}
          <li>{{ person.person.phone|safe }}</li>
        {% endif %}
        {% if person.person.email %}
          <li><a href="mailto:{{ person.person.email }}">{{ person.person.email }}</a></li>
        {% endif %}
        {% if person.person.office %}
          <li>{{ person.person.office|safe }}</li>
        {% endif %}
      </ul>
    {% endif %}
    
    {% if person.person.meeting_time %}
      <h4>Часы приема</h4>
      {{ person.person.meeting_time|safe }}
    {% endif %}
</article>